<section class="section">
  <div class="container">
    <h2 class="section-title">{{ .content.title }}</h2>

    <p>Looking for: authors/{{ .content.username }}</p>

    {{ $author := site.GetPage (printf "authors/%s" .content.username) }}
    {{ if $author }}
      <p>✅ Author found: {{ $author.Title }}</p>
      {{ range $author.Params.interests }}
        <div class="py-2">
          <h3 class="text-xl font-semibold">{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      {{ end }}
    {{ else }}
      <p>❌ Author not found.</p>
    {{ end }}
  </div>
</section>
